html , body{
	font-family:'Roboto Slab', serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	height: 100%;
}

hr{
	margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

a{
	color: #666;
	text-decoration: none;
	font-weight: 400;
}

.logo span{
	font-size: 60px;
}

.logo{
	margin: 15px 1px 15px 1px;
	text-align: center;
}

.form{
	width: 400px;
	margin: 50px auto;
	min-height: 350px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .20);
	background-color: #fff;
}

.form-header{
	margin: 20px auto;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

.form-body{
	margin: 0 auto;
	width: 80%;
	min-height: 250px;
}

.form-input{
	padding: 10px 20px 20px 20px;
}

.login-input{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.login-input input{
	font-family: 'Open Sans';
    margin-bottom: 5px;
    padding-left: 9px;
    background-color: rgb(243, 243, 243);
    border-top: 1px solid rgb(213, 213, 213);
    border-left: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(244, 244, 244);
    border-right: 1px solid rgb(244, 244, 244);
    border-radius: 4px;
    font-size: 18px;
}

.forma{
	padding: 6px;
	color: #555;
	width: 234px;
}

.login-button{
	padding-right: 15px;
    padding-left: 15px;
}

.login-button button{
	font-family: 'PT Mono';
    border-radius: 5px;
    border-width: 0;
    width: 250px;
    height: 66px;
    background-color: #b99261;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
	color: #000;
}

.reg{
	text-align: center;
	font-size: 17px;
}
